<div class="container bg-light">
      <div class="col-md-6 mx-auto text-center">
         <div class="header-title">
            <h1 class="wv-heading--title">
                <%= image_tag "logo_4d5156.png", :size=>"320x129",class: "img-responsive" %>
            </h1>
            <h2 class="wv-heading--subtitle">
               わすれてしまった<br>”じぶん”をさがしに
            </h2>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 mx-auto">
            <div class="myform form ">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="form-group">
      <%= f.text_field :nickname, autofocus: true,class: "form-control my-input", id: "name" ,placeholder: "Name" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true,class: "form-control my-input", id: "name" ,placeholder: "email" %>
    </div>

    <div class="form-group">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autofocus: true,class: "form-control my-input", id: "name" ,placeholder: "new-password" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autofocus: true,class: "form-control my-input", id: "name" ,placeholder: "nwe-password" %>
    </div>

    <div class="text-center ">
        <button type="submit" class=" btn btn-block send-button tx-tfm">Create Your Free Account</button>
    </div>

  <% end %>




  
  <%= render "devise/shared/links" %>

  <body>
   <div class="container">
      

             

                  <div class="col-md-12 ">
                     <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                     </div>
                  </div>
                  <div class="form-group">
                     <a class="btn btn-block g-button" href="#">
                     <i class="fa fa-google"></i> Sign up with Google
                     </a>
                  </div>
                  <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                  </p>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
</body>