<div class="container-fluid bg-light d-flex flex-column" >
  <div class="container mb-auto">
  
    <h1 class="mt-4">edit Lesson2 夢への課題を記述する</h1>

    <div class="col-md-12 ">
      <div class="login-or">
          <hr class="hr-or">
      </div>
    </div>

     <p>人類永遠の課題は<br>起きている時間をどのように構成するかだ<br>by エリック・バーン</p>

    <div class="col-md-12 ">
      <div class="login-or">
          <hr class="hr-or">
      </div>
    </div>

    <p>Lesson1 での内容表示 <br>〜さんの夢への課題<br>現在:なぜか悲しい<br>未来:わくわくしたい<p>

    <div class="col-md-12 ">
      <div class="login-or">
          <hr class="hr-or">
      </div>
    </div>

      <%= form_with(model: [@prep, @task], local: true) do |f| %>
      
        <%= render 'shared/error_messages', model:  f.object %>

        <div class="form-group mt-2">
          <%= f.label :task_1, "進んだぶんゴールに近づく、どれだけやろうか" %><br />
          <%= f.text_area :task_1, class: "form-control", placeholder: "(例)3日間だけ" %>
        </div>
        <div class="form-group mt-2">
          <%= f.label :task_2, "行動したぶんゴールに近づく、なにをしようか" %><br />
          <%= f.text_area :task_2, class: "form-control", placeholder: "(例)とりあえず日記をつける" %>
        </div>
       <div class="form-group mt-2">
          <%= f.label :task_3, "考えたぶんゴールに近づく、どうやろうか" %><br />
          <%= f.text_area :task_3, class: "form-control", placeholder: "(例)今日の感情を一言だけ書いてみよう" %>
        </div>

        <div class="text-center mb-5">
          <%= f.submit "記録する" ,class:"btn btn-block send-button tx-tfm" %>
        </div>
      <% end %>

  </div>
      <div class="form_tag"> 
        <div class="col-md-12 ">
          <div class="login-or">
            <hr class="hr-or">
          </div>
        </div>
      </div>

          <div class="prep_list">
          <ul class="preps_lists">

            


          </ul>
        </div>
</div>
